{% extends 'base.html.twig' %}


{% block body %}

 {% for message in app.flashes('nachricht') %}
    <div class="alert alert-success" role="alert">
      <h3>  {{ message }} </h3>
    </div>
{% endfor %} 
<!-- Contact section -->
	<section class="contact-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 p-0">
					<!-- Map -->
					<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104994.94918604908!2d135.416024741533!3d34.677623369865024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e8f48c0da9cd%3A0x6f83c520ae082ccc!2zS2FpecWra2Fu!5e0!3m2!1sde!2sbd!4v1616514195457!5m2!1sde!2sbd"  style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
				</div>
				<div class="col-lg-6 p-0">
					<div class="contact-warp">
						<div class="section-title mb-0">
							<h2>Kellner kontakt</h2>
						</div>
						<p>Möchten Sie dem Kellner weitere Wünsche zu Ihrer Bestellungen mitteilen? 
							Auf dieser Seite haben Sie mit unserem Kontaktformular die Möglichkeit mit unserem q
							ualifizierten Servicepersonal in Kontakt zu treten. Egal ob etwas fehlt, oder es sich um extra
							Wünsche bei unseren Gerichten handelt. Auch Lob Anregungen und Kritik sind gern gesehen. 
							Zögern Sie nicht uns zu kontaktieren.
						</p>
						{{ form(emailForm) }}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->
{% endblock %}
