{% apply inline_css %}
<style>

h1{
    color:#2c3e50;
}


h3 {
    color: #c0392b;
    font-style: italic;
}

p {
    color:#2c3e50;
    font-size:17px;
    font-style: inherit;
    font-weight: 600;
}


</style>

<h1> Hallo Kellner</h1>


<h3>Der Tisch {{tisch}} hat folgende Nachricht geschickt.
</h3>
<p>
{{ text }}
</p>

{% endapply %}
